name: Spammer action

on: 
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install PyEmail
    - name: Run the script
      env:
        FROM: ${{ secrets.FROM }}
        TO: ${{ secrets.TO }}
        PASSWORD: ${{ secrets.PASSWORD }}
      run: |
        python spam.py "$FROM" "$TO" "$PASSWORD"
